src/META-INF/SensorManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://sensormanager.hydrosys.gsn" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://beans.gsn/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sensormanager.hydrosys.gsn">
    
    
    <wsdl:types>
        <xs:schema xmlns:ax22="http://beans.gsn/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sensormanager.hydrosys.gsn">
            <xs:import namespace="http://beans.gsn/xsd"/>
            <xs:element name="unregisterQuery">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="queryName" nillable="false" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unregisterQueryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="message" nillable="false" type="xs:string"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="status" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerQuery">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="queryName" nillable="false" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputStructure" nillable="false" type="ax22:DataField"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="vsnames" nillable="false" type="xs:string"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="query" nillable="false" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerQueryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="message" nillable="false" type="xs:string"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="status" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.gsn/xsd">
            <xs:complexType name="DataField">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="name" nillable="false" type="xs:string"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="type" nillable="false" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    
    
    
    
    <wsdl:message name="registerQueryRequest">
        <wsdl:part name="parameters" element="ns:registerQuery"/>
    </wsdl:message>
    <wsdl:message name="registerQueryResponse">
        <wsdl:part name="parameters" element="ns:registerQueryResponse"/>
    </wsdl:message>
    <wsdl:message name="unregisterQueryRequest">
        <wsdl:part name="parameters" element="ns:unregisterQuery"/>
    </wsdl:message>
    <wsdl:message name="unregisterQueryResponse">
        <wsdl:part name="parameters" element="ns:unregisterQueryResponse"/>
    </wsdl:message>
    
    
    
    
    <wsdl:portType name="SensorManagerPortType">
        <wsdl:operation name="registerQuery">
            <wsdl:input message="ns:registerQueryRequest" wsaw:Action="urn:registerQuery"/>
            <wsdl:output message="ns:registerQueryResponse" wsaw:Action="urn:registerQueryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="unregisterQuery">
            <wsdl:input message="ns:unregisterQueryRequest" wsaw:Action="urn:unregisterQuery"/>
            <wsdl:output message="ns:unregisterQueryResponse" wsaw:Action="urn:unregisterQueryResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    
    
    
    <wsdl:binding name="SensorManagerSoap11Binding" type="ns:SensorManagerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="registerQuery">
            <soap:operation soapAction="urn:registerQuery" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unregisterQuery">
            <soap:operation soapAction="urn:unregisterQuery" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    
    <wsdl:binding name="SensorManagerSoap12Binding" type="ns:SensorManagerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="registerQuery">
            <soap12:operation soapAction="urn:registerQuery" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unregisterQuery">
            <soap12:operation soapAction="urn:unregisterQuery" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    
    <wsdl:binding name="SensorManagerHttpBinding" type="ns:SensorManagerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="registerQuery">
            <http:operation location="SensorManager/registerQuery"/>
            <wsdl:input>
                <mime:content type="text/xml" part="registerQuery"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="registerQuery"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unregisterQuery">
            <http:operation location="SensorManager/unregisterQuery"/>
            <wsdl:input>
                <mime:content type="text/xml" part="unregisterQuery"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="unregisterQuery"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    
    
    
    
    <wsdl:service name="SensorManager">
        <wsdl:port name="SensorManagerHttpSoap11Endpoint" binding="ns:SensorManagerSoap11Binding">
            <soap:address location="http://localhost:22001/hydrosys/SensorManager"/>
        </wsdl:port>
        <wsdl:port name="SensorManagerHttpSoap12Endpoint" binding="ns:SensorManagerSoap12Binding">
            <soap12:address location="http://localhost:22001/hydrosys/SensorManager"/>
        </wsdl:port>
        <wsdl:port name="SensorManagerHttpEndpoint" binding="ns:SensorManagerHttpBinding">
            <http:address location="http://localhost:22001/hydrosys/SensorManager"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>